div(ui-view='')
    div.mb(layout='row')
        sv-link-back.mr.ml(go-up='true')
        div.mr.ml
            a.btn.btn--m.btn--white.btn--raised.tc-teal-300(lx-ripple='' ui-sref='.edit')
                i.fa.fa-pencil.fa-fw &nbsp
                span(style='margin-left:4px' hide-sm) {{'edit'|translate}}
    sv-listing-full(home='listing' class='mb+++' ng-if='listing')