md-content
    sv-broker-profile-top
    .mt.mb
    md-tabs.sv-user-list(md-selected='selectedIndex' md-dynamic-height=""  md-border-bottom='' style="min-height:700px" md-stretch-tabs="never")
        md-tab
            md-tab-label Broker Profile
            md-tab-body
                ui-view=''
        md-tab
            md-tab-label Active Listings
            md-tab-body
                ui-view=''

        md-tab
            md-tab-label Blog
            md-tab-body
                ui-view=''
        md-tab
            md-tab-label Reviews
            md-tab-body
                ui-view=''

