form(name='passwordForm' ng-submit='changePassword(personalInfoForm.$valid)' novalidate sv-form-val)
    span.fs-subhead(class='ml+') Change Password
    div(layout-gt-sm='row' layout-sm='column' layout-align-gt-sm='space-between center' class='p+')
        md-input-container(flex="")
            label {{'current-password'|translate}}:
            input(type="text" name='currentPass' ng-model='password.val')
        md-input-container(flex="")
            label {{'new-password'|translate}}:
            input(type="text" name='newPass' ng-model='newPassword.val' ng-minlength='6' )
        button.btn.btn--s.btn--blue.btn--raised(lx-ripple='' type="submit" ng-disabled="passwordForm.$pristine || passwordForm.$invalid")
            i.mdi.mdi-content-save
            span.ml Save Changes


