lx-dropdown(position='right')
    a.btn.btn--m.btn--white.btn--fab.btn-flat(lx-dropdown-toggle='' ng-class="{'mr+':gtSm}")
        img.img-round(ng-src="{{user.isEditor()?alexAvatar:(user.avatar || defaultAvatar)}}" style='width:100%;height:100%' )
    lx-dropdown-menu
        ul
            li
                a.dropdown-link(ui-sref="app.user.user-bookmarks({uid:user.userName})")
                    i.mdi.mdi-star.mr
                    | Bookmarks
            li(ng-if='user.isCustomer()')
                a.dropdown-link(ui-sref="app.user.user-reviews({uid:user.userName})")
                    i.mdi.mdi-pen.mr
                    | My Reviews
            li(ng-if='user.isCustomer()')
                a.dropdown-link(ui-sref="app.customers.one-customer({cid:cid})")
                    i.mdi.mdi-account-circle.mr
                    | My Public Page
            li(ng-if='user.isStaff()')
                a.dropdown-link(ui-sref="app.user.listings({uid:user.userName})")
                    i.mdi.mdi-view-dashboard.mr
                    | My Listings
            li(ng-if='user.isStaff()')
                a.dropdown-link(ui-sref="app.user.blogs({uid:user.userName})"  )
                    i.mdi.mdi-view-list.mr
                    span Blog
            li(ng-if='user.isStaff()')
                a.dropdown-link(ui-sref="app.brokers.broker.profile({id:brokerId})")
                    i.mdi.mdi-view-dashboard.mr
                    | My Public Page
            li
                a.dropdown-link(ui-sref="app.user.account-settings({uid:user.userName})")
                    i.mdi.mdi-settings.mr
                    | Account Settings
            li.dropdown-divider(ng-if='user.isStaff()')
            li(ng-if='user.isStaff()')
                a.dropdown-link.tc-red-300(ui-sref='app.user.create-listing' )
                    i.mdi.mdi-plus.mr
                    | Add Listing
            li.dropdown-divider(ng-if='user.isStaff()')
            li(ng-if='user.isStaff()')
                a.dropdown-link.tc-red-300(ui-sref='app.user.create-article({artType:"blog",uid:user.userName,artId:null})' ui-sref-opts="{reload: true}")
                    i.mdi.mdi-plus.mr
                    | Add Blog Post
            li.dropdown-divider
            li
                a.dropdown-link(ng-click='logout()')
                    i.mdi.mdi-logout.mr
                    | Logout
