md-content
    md-tabs(md-selected='selectedIndex', md-border-bottom='' md-dynamic-height="" md-stretch-tabs="never")
        md-tab
            md-tab-label My Friends
            md-tab-body My Friends
        md-tab
            md-tab-label Find People
            md-tab-body Find People

