div(layout-gt-sm='row' layout-sm='column')
    div(flex='')
        .card(class='mb' class='ml mr')
            div.bgc-grey-100(class='pl+ pr+ pt pb' layout='row'  layout-align="start center")
                i.fa.fa-user.fa-fw.mr.tc-grey-700
                span.fs-title.tc-grey-700(ng-if='user') {{'account-status'|translate}}:
                span.fs-title.ml.tc-blue-500(ng-if='user && user.isStaff()') Broker Account
                span.fs-title.ml.tc-blue-500(ng-if='user && user.isManager()') Manager Account
                span.fs-title.ml.tc-blue-500(ng-if='user && user.isCustomer()') Buyer/Seller Account
                sv-request-business-account-btn(ng-if='user && user.isCustomer()')
            div(layout='column')
                div(flex='')
                    sv-user-personal-info.mt.mb
                div(flex='')
                    sv-change-password.mt.mb
    div(flex='')
        //sv-pdf-subscription(class='ml mr')