extends layout
include mixins/about-company/about-company-tab-content


block content
    div(class='p+')
        h1 About Us
        br
        hr
    div(class='mb+')
        +about-company-tab-content
