extends layout
include mixins/brokers/one-broker-about


block content
    div(class='p+')
        if vm.broker !== undefined
            +one-broker-about(vm.broker,vm.defAvatar, vm.companyPhone, vm.companyFax, vm.dTitle)


