extends layout
include mixins/brokers/one-broker-endorsements
include mixins/brokers/broker-contact-info


block content
    div(class='p+')
        if vm.broker !== undefined
            +broker-contact-info(vm.broker,vm.defAvatar, vm.companyPhone, vm.companyFax, vm.dTitle)
            include brokers/broker-profile-nav
            +one-broker-endorsements(vm.broker)


