extends layout
include mixins/brokers/broker-contact-info
include mixins/brokers/one-broker-blogs


block content
    div(class='p+')
        if vm.broker !== undefined
            +broker-contact-info(vm.broker,vm.defAvatar, vm.companyPhone, vm.companyFax, vm.dTitle)
            include brokers/broker-profile-nav
            each blog in vm.broker.blogs
                +one-broker-blogs(blog)


