extends layout
block content
    div(class='row mb pt+ sv-margin-reset')
        div.col-xs-8.sv-padding-reset
            h2 Main Content
            br
            hr
            p(class="mt+") At vero eos et accusamus et iusto odio dignissimos ducimk
        div.col-xs-4.sv-padding-reset
            div(class='column sv-margin-reset')
                div.col-xs-12.mb.sv-padding-reset
                    p Content At vero eos et accusamus et iusto odio dignissimos ducimus
                div.col-xs-12.mb.sv-padding-reset
