extends layout
block content
    div(class='row')
        div.col-xs-offset-3.col-xs-6
            h2 Find your dream home
            br
            hr
    div.row
        .col-xs-6
            a(href='/remax-listings/search/homes-for-sale').btn.btn-primary Sale
        .col-xs-6
            a(href='/remax-listings/search/homes-for-rent').btn.btn-danger Rent


