extends layout
include mixins/article/home-page-news-thumb
include mixins/article/article-section-thumb

block content
    div.text-center
        h2 Find your dream home
    hr
    div.text-center
        ul.list-inline
            li
                a(href='/search/homes-for-sale').btn.btn-primary.btn-large Sale
            li
                a(href='/search/homes-for-rent').btn.btn-danger Rent
    hr
    div
       ul.list-inline
          each blog in vm.blogs
              +article-section-thumb(blog)



