extends layout

block content
    div(class='p+')
        h1 Why Re/Max 1st Class Realty is worth to work with:
        br
        hr
    div(class='mb+')
        if (vm.home !== undefined)
            div= vm.home.mls

