extends layout

block content
    div(class='p+')
        h1 Re/Max 1st Class Privacy Policy
        br
        hr
    div(class='mb+')
        include ../app/scripts/sections/privacy/directives/sv-privacy

