extends layout
include mixins/search/listings-list

block content
    div(class='p+')
        h1 Listings Search
        br
        hr
        if (vm.homes != undefined)
            +listings-list(vm.homes,vm.homeAvatar)

