extends layout

block content
    .row
        div(class='col-sm-6')
            h1 Log In to your Account
            br
            hr
            span Already have an account? &nbsp
            a.btn.btn-primary.btn-sm(href="/login") Log In
            br
        div(class='p+  mb++ col-sm-6')
            h2 Log In with Social Media
            p Facebook or Google Plus will ask you for:
            p 1. Access to your basic account information
            p We only use your name and email address to create your account. We won’t use your list of friends unless you ask us to.
            p 2. Email
            p We will only send emails if you specifically sign up on our site.
            p We will never post anything to your wall or timeline unless you share it yourself.



