extends layout

block content
    div(class='p+')
        h1 Re/Max 1st Class Terms of Use
        br
        hr
    div(class='mb+')
        include ../app/scripts/sections/terms/directives/sv-terms

