md-content(style="padding:0px;margin:0px")
    md-tabs(md-selected='selectedIndex' md-dynamic-height="" md-stretch-tabs="true" style='min-height:230px' md-autoselect md-border-bottom)
        md-tab(flex)
            md-tab-label
                | Sale
            md-tab-body
                a(href='home') City Name
        md-tab( flex)
            md-tab-label
                | Rent
            md-tab-body
                a(href='home') City Name
