div
    button.btn.btn--l.btn--flat.sv-nav-link-responsive.btn--white(lx-ripple='' ui-sref-active="nav-link-active" class="main-nav-link" ui-sref='app.search' hide-sm="")
        i.fa.fa-search.fa-fw.mr
        span Search

