div(layout='row' layout-align="space-between center" )
    div.pt(ng-if='!isBroker && !isBookMarkState')
        sv-search-dropdown
    div
        sv-search-stat
    div.pt.pr(layout='row' layout-align='space-between')
        button.btn.btn--m.btn--white.btn--raised.mr(lx-ripple='' ng-click='changeMapGridView(true)')
            i.fa.fa-map-o.fa-fw
            span.mdc-display-inline-block.ml(hide-sm) Map
        button.btn.btn--m.btn--white.btn--raised(lx-ripple='' ng-click='changeMapGridView(false)')
            i.fa.fa-th.fa-fw
            span.mdc-display-inline-block.ml(hide-sm) Grid
