.card(layout='column')
    div(layout-gt-sm='row' layout-sm="column" layout-align-sm="center center")
        div(layout-gt-sm="row" layout-sm="column" layout-align-sm="center center" flex-gt-sm="60")
            .bgc-grey-300
                .p.btn-wrapper
                    button.btn.btn--xs.btn--black.btn--raised.btn-pos.bgc-grey-300.tc-grey-600(lx-ripple='' ng-if='hasEditAccess' ng-click="showBrokerUploadImgModal(broker)" )
                        i.fa.fa-pencil.fa-fw.mr
                        | Change Image
                    sv-img-background.sv-img-thumb(sv-image="broker.pic" img-width="170" img-height="220" )
            div(layout='column' layout-align-sm="center center")
                h1.tc-grey-800.ml.lr {{broker.fName}} {{broker.lName}}
                span.fs-title.ml.mr {{broker.title || defaultBrokerTitle}}
                span.fs-subhead(ng-if='broker.title2') {{broker.title2}}
                span(class='ml mr')
                    p.fw-500
                        span.mr(ng-if='broker.languages')
                            i.fa.fa-globe
                            span.ml Languages:
                        span.tc-blue-600 {{broker.languages}}
                div(layout-sm='row' layout-gt-sm="column")
                    p.fw-500.mr.ml(ng-show='broker.recentsales')
                        span
                            i.mdi.mdi-checkbox-marked-circle-outline
                            span.ml Recent Sales:
                        a(target='_blank' lx-ripple='' href='{{broker.recentsales}}' style="text-decoration:none")
                            span.tc-blue-600.ml Zillow Sales &nbsp
                    p.fw-500.mr.ml
                        span
                            i.fa.fa-bell-o
                            span.ml Active Listings:
                        span.tc-blue-600.ml {{brokerHomesCount}} &nbsp
                div.fw-500.mb.fs-subhead(layout-gt-sm='row' layout-sm="column" ng-if='broker.truliaReview || broker.zillowReview')
                    //.tc-amber-600.mr.ml(layout='row' layout-align-sm="center")
                    //    span
                    //        i.fa.fa-star.fa-fw
                    //    span
                    //        i.fa.fa-star.fa-fw
                    //    span
                    //        i.fa.fa-star.fa-fw
                    //    span
                    //        i.fa.fa-star.fa-fw
                    //    span
                    //        i.fa.fa-star.fa-fw
                    p.ml.mr.tc-blue-600.fw-500
                        i.mdi.mdi-account-star.mr
                        | Ratings and Reviews:
                div(layout='row' layout-align="start center" ng-if='broker.truliaReview || broker.zillowReview')
                    span.ml.mb(ng-if='broker.zillowReview')
                        a.btn.btn--s.btn--white.btn--raised(target='_blank' lx-ripple='' href='{{broker.zillowReview}}' style="text-decoration:none")
                            img.m(src="https://s3-us-west-2.amazonaws.com/remax1stclass/brokers/logos/zillow-logo.png" style="width:70px;height:auto")
                    span.ml.mb(ng-if='broker.truliaReview')
                        a.btn.btn--s.btn--white.btn--raised(target='_blank' lx-ripple='' href='{{broker.truliaReview}}' style="text-decoration:none")
                            img.m(src="https://s3-us-west-2.amazonaws.com/remax1stclass/brokers/logos/trulia-logo.png" style="width:45px;height:auto")
        .tc-grey-600(layout='column' layout-align-sm="center center" class='ml mr' flex="")
            .fs-headline.tc-grey-800 Contact Info:
            span(ng-if='broker.phoneDirect')
                p.fs-subhead(style="margin-bottom:4px")
                    span
                        i.mdi.mdi-cellphone &nbsp
                        span Direct: &nbsp
                    span.tc-grey-800 {{broker.phoneDirect|tel}}
            span.fs-subhead(ng-if='broker.phoneCell')
                p.fs-subhead(style="margin-bottom:4px")
                    span
                        i.mdi.mdi-cellphone-iphone &nbsp
                        span Cell: &nbsp
                    span.tc-grey-800 {{broker.phoneCell|tel}}
            span.fs-subhead
                p.fs-subhead(style="margin-bottom:4px")
                    span
                        i.mdi.mdi-phone &nbsp
                        span Office: &nbsp
                    span.tc-grey-800 {{companyPhone}}
            span.fs-subhead
                p.fs-subhead(style="margin-bottom:4px")
                    span
                        i.mdi.mdi-deskphone &nbsp
                        span Fax: &nbsp
                    span.tc-grey-800 {{companyFax}}
    div(layout-gt-sm='row' layout-sm="column")
        md-divider.mt.mb
        h3.m.tc-grey-700.fw-500(ng-if='broker.moto' style="font-style:italic") {{broker.moto}}
    md-divider.mt.mb
    div(layout='row' layout-align="space-between center" class='mb')
        div(flex='' ng-if='broker.website')
            a(href='{{broker.website}}' style="text-decoration:none" target='_blank') {{broker.website}}
        div(ng-if='hasEditAccess' flex="")
            button.btn.btn--s.btn--blue.btn--raised.bgc-blue-400.tc-white-1.mt(lx-ripple=''  ng-click="showBrokerContactInfoModal(broker)" )
                i.fa.fa-pencil.fa-fw
                span.ml(hide-sm="") Edit Contact Info
        div
            a.btn.btn--s.btn--red.bgc-red-700.btn--fab.mr(lx-ripple='' ng-if='broker.youtube' href="{{broker.youtube}}" target='_blank')
                i.fa.fa-youtube.fa-fw
            a.btn.btn--s.btn--blue.btn--fab.bgc-blue-400.mr(ng-if='broker.twitter' lx-ripple='' href="{{broker.twitter}}" target='_blank')
                i.fa.fa-twitter.fa-fw
            a.btn.btn--s.btn--indigo.bgc-indigo-400.btn--fab.mr(lx-ripple='' ng-if='broker.facebook' href="{{broker.facebook}}" target='_blank')
                i.fa.fa-facebook.fa-fw
            a.btn.btn--s.btn--blue.bgc-blue-600.btn--fab.mr(ng-if='broker.linkedin' lx-ripple='' href="{{broker.linkedin}}" target='_blank')
                i.fa.fa-linkedin.fa-fw

