.card
    a.display-block(ui-sref='app.brokers.broker.profile({id:agent.$id})' style="text-decoration:none")
        div(layout='row')
            div.m
                sv-img-background.sv-img-thumb(sv-image="agent.pic || avatarBroker" img-width="100" img-height="120" )
            div.m
                p.fs-title.tc-grey-900 {{agent.fName}} {{agent.lName}}
                p.fs-title.tc-grey-700 {{agent.phone}}
                //div(layout='row' layout-align="start center" ng-if='agent.truliaReview || agent.zillowReview')
                //    span.mb(ng-if='agent.zillowReview')
                //        a.btn.btn--xs.btn--white.btn--raised(target='_blank' lx-ripple='' href='{{agent.zillowReview}}' style="text-decoration:none")
                //            img.m(src="https://s3-us-west-2.amazonaws.com/remax1stclass/brokers/logos/zillow-logo.png" style="width:68px;height:auto")
                //    span.ml(ng-if='agent.truliaReview')
                //        a.btn.btn--xs.btn--white.btn--raised(target='_blank' lx-ripple='' href='{{agent.truliaReview}}' style="text-decoration:none")
                //            img.m(src="https://s3-us-west-2.amazonaws.com/remax1stclass/brokers/logos/trulia-logo.png" style="width:45px;height:auto")
                div(layout='row' ng-show='agent.recentsales')
                    a(target='_blank' lx-ripple='' href='{{agent.recentsales}}' style="text-decoration:none")
                        span.tc-grey-600 Recent Sales: &nbsp
                        span.tc-blue-600 Zillow
                div
                    p.tc-grey-700 {{agent.countSale}} Active Listings
                div
                    p.tc-grey-700 Phone: {{companyPhone}}
