.tc-grey-600(layout='column' layout-align-sm="center center" flex="")
    .fs-headline.tc-grey-800 Contact Info:
    span(ng-repeat='phone in phones')
        p.fs-subhead(style="margin-bottom:4px")
            span
                i.mdi.mdi-cellphone &nbsp
                span {{phone.name}}: &nbsp
            span.tc-grey-800 {{phone.value|tel}}

