div(ng-if='phones')
    h3 Best Contact phone
    pre {{phones}}
    md-radio-group(ng-model='broker.bestPhone')
        md-radio-button(ng-repeat='p in phones' ng-value='p.name')
            | {{p.value}}

