div
    div
        button(ng-click='addReview()' ng-show='!reviewForm') Rate Agent
        sv-review-form(ng-show='reviewForm')
    span.ml.mr.tc-grey-800.fw-500.fs-title
        i.mdi.mdi-account-star.mr
        | Ratings and Reviews:
    .mt.mb
    div(layout='row' layout-align="start center" ng-if='broker.truliaReview || broker.zillowReview')
        span.ml.mb
            a.btn.btn--s.btn--white.btn--raised(target='_blank' lx-ripple='' href='{{broker.zillowReview}}' style="text-decoration:none")
                img.m(src="https://s3-us-west-2.amazonaws.com/remax1stclass/brokers/logos/zillow-logo.png" style="width:70px;height:auto")
        span.ml.mb
            a.btn.btn--s.btn--white.btn--raised(target='_blank' lx-ripple='' href='{{broker.truliaReview}}' style="text-decoration:none")
                img.m(src="https://s3-us-west-2.amazonaws.com/remax1stclass/brokers/logos/trulia-logo.png" style="width:45px;height:auto")
