.sv-main-content
    div(layout='row' layout-align='center')
        div(flex-sm='' flex-gt-sm='80' class='pt+')
            sv-login-form(login-btn='login' register-account='register-account' new-user='new-user')

