md-dialog(style='min-width:40%;min-height: auto')
    div.bgc-blue-A200.tc-blue-100(layout="row" layout-align='space-between center' class='p+')
        span.fs-headline.mt.mb
            i.mdi.mdi-account-key &nbsp
            | Re/Max 1st Class Password Recovery
        button.btn.btn--m.btn--blue.btn--flat.tc-blue-100(lx-ripple='' ng-click='hide()')
            i.mdi.mdi-close &nbsp
    md-dialog-content.p(style='padding:0px')
        form.m(name="passwordRecoveryForm"  novalidate sv-form-val)
            md-input-container(class='mb+')
                label Email Recovery
                input(name="email" type='text', ng-model='user.email' required)
            div(class='mb+')
                button.btn.btn--m.btn--raised.btn--blue.bgc-blue-A200.tc-blue-100(lx-ripple ng-click='sendPasswordRecovery(user.email)' id="svetLoginBtn")
                    i.mdi.mdi-send &nbsp
                    | Send Temporary Password

