md-dialog(style='min-width:80%;min-height: auto')
    md-toolbar.bgc-blue-A200.mb(layout='row' layout-align="space-between center" class='pl+ pr+')
        span.ml.fs-headline.mt.mb
            i.fa.fa-info.fa-fw.tc-red-50
            span.ml.tc-blue-50 Website Terms and Conditions
        button.btn.btn--s.btn--icon.btn--white(ng-click='hide()')
            i.mdi.mdi-close &nbsp
    md-dialog-content(style='margin:0px;padding:0px')
        sv-terms.m