div(layout='row' style='width:100%;background-color:white')
    .card(class="m" ng-repeat='blog in blogs' flex='{{Math.floor(100/blogs.length)}}')
        sv-img-background.sv-img-thumb(sv-image="blog.img" img-width="180" img-height="120" style="margin:0px auto")
        div.m
            h3 {{blog.title}}
        div(layout='row' layout-align="start center")
            div.m
                a(ui-sref='app.brokers.broker.profile({id:blog.brokerId})').article-thumb-link
                    sv-img-background.sv-img-thumb( sv-image="blog.brokerPic" style='width:30px;height:30px;margin:0px auto')
            .fs-caption.tc-grey-500(ng-bind-html='safeParsing((blog.author|authorNameFr))')
        div.ml.mr.mb
            .fs-body-1.tc-black-2(ng-bind-html='safeParsing(blog.summary)')
            div(layout='row' layout-align='end start' class='pr')
                button.btn.btn--xs.btn--grey.btn--flat() {{'read-more'|translate}} >>
