div
    div(style="position:relative;height:700px")
        div(style="position:absolute;top:-50px")
            .sv-iframe-responsive-wrap
                iframe.sv-iframe-responsive(src="https://www.google.com/maps/d/embed?mid=zdTHzl0THQeM.kEvTYRumEEGE" width="2400" height="700")
        div(layout='row' layout-align-gt-sm="center center" layout-align-sm="center top")
            div(flex-gt-lg='40' flex-sm="100" flex-gt-md="60" flex-lg="50")
                md-toolbar.bgc-grey-50.md-whiteframe-3dp.pt.search-card(class='pb+')
                    sv-listing-search-form.m
    div(class='m+')
        sv-homepage-blogs


