div.home-backdrop(layout='row' layout-align-gt-sm="center start" layout-align-sm="center start" layout-align-gt-md="center center")
    div(flex-gt-lg='50' flex-sm="90" flex-gt-sm="80")
        div(class="p" hide-gt-md="")
        sv-listing-search-form
