div.home-backdrop(layout='row' layout-align-gt-sm="center center" layout-align-sm="center top")
    div(flex-gt-lg='40' flex-sm="100" flex-gt-md="60" flex-lg="50")
        sv-listing-search-form.m
div(class='m+')
    sv-homepage-blogs


