.card(class='mb+ pt+')
    div(class='ml+ mr+')
        span.display-block.fs-title.tc-grey-800 Campaign name
        span.display-block.fs-caption.tc-grey-600 Date created : {{ad.timestamp|date}}
    div(class='m+')
        sv-customer-avatar(customer='ad.customer')
    div(class='m+')
        img(ng-src="{{ad.banner}}" width='30%')
    div(class='ml+ mr+ mb+')
        span.display-block.fs-subhead Statistics
        //span.display-block.fs-subhead.tc-grey-700(style='text-decoration:underline') Unique: {{ad.shows.unique}}
        span.display-block.fs-subhead.tc-grey-700(style='text-decoration:underline') Total: {{ad.shows.total}}
    div(class='ml+ mr+ mb+')
        button.btn.btn--s.btn--white.btn--raised.tc-teal-300.mr(lx-ripple='' ui-sref='.start({id:ad.$id})')
            i.fa.fa-pencil.fa-fw &nbsp
            | Edit
        button.btn.btn--s.btn--white.tc-red-300.btn--raised(lx-ripple='' ng-click='removeAd()' sv-confirm-deletion='ad')
            i.fa.fa-trash.fa-fw &nbsp
            span Delete

