.card(class='mb pb++')
    .bgc-grey-200(class='pl+ pr+ pt pb' layout-gt-sm='row' layout-sm="column" layout-align-gt-sm='space-between center' class='pt+ pb+ pl pr')
        .fs-headline.tc-grey-900
            i.mdi.mdi-message-text-outline
            span.ml Contact Us
    div(class='p+')
        form.mt(name='Form' novalidate sv-form-val)
            md-input-container
                label Name
                input(type='text' name='contactName'  ng-model='user.contactName'  ng-minlength="3" ng-maxlength="200" required="error" )
            div(layout-gt-sm='row' layout-sm='column'  )
                md-input-container(flex="")
                    label Email
                    input(type='email' name='contactEmail'  ng-model='user.contactEmail' required)
                md-input-container(flex="")
                    input(type='phone' name='contactPhone' aria-label="Phone" ng-model='user.contactPhone'  ng-minlength="6" ng-maxlength="200" ui-mask="(999) 999-9999")
            md-input-container
                label Message
                textarea(type='text' name='userMessage'  ng-model='user.userMessage'  ng-minlength="3" ng-maxlength="1000" required="error" )
            button.btn.btn--m.btn--raised.btn--blue.bgc-blue-500.mt(lx-ripple)
                i.mdi.mdi-send &nbsp
                span.ml Send Message
