div(layout='row' layout-align="end center" )
    div(ng-if='!user' )
        a.btn.btn--l.btn--blue.btn--fab.tc-blue-50(lx-ripple="" ui-sref='app.login' hide-gt-sm)
            i.fa.fa-user.fa-fw
        a.btn.btn--l.btn--white.btn--raised.tc-red-800.fw-500(lx-ripple="" ui-sref='app.login' hide-sm)
            i.fa.fa-sign-in.fa-fw
            span.mdc-display-inline-block.ml Log In
    div.ml.mr(layout='row' ng-if='!!user' layout-align="center center")
        //span.fs-body-2.mr.tc-grey-700(style='font-weight:600') {{user.userName|uppercase}}
        sv-user-dropdown-menu(ng-if="!user.isManager()" logout='logout()')
        sv-manager-dropdown(ng-if="user.isManager()" logout='logout()')
