.card.mb
    div.bgc-grey-100.fs-title(class='p+')
        i.fa.fa-envelope.fa-fw.tc-red-600
        span.tc-blue-600.ml My Subscriptions
    div
        p.m
            i.mdi.mdi-airballoon.tc-blue-600
            span.ml Get notifications about new and updated listings that meet your criteria.
        p.m
            i.mdi.mdi-airballoon.tc-blue-600
            span.ml Find out about open houses, short sales, foreclosures!
        div(ng-if='user && !requestSubmited')
            form( name='subscriptionsForm')
                div(layout="row" layout-align='start center')
                    md-checkbox(ng-model="subscription.bookmarks" aria-label="Checkbox")
                    div Updates to my saved listings
                div(layout="row" layout-align='start center')
                    md-checkbox(ng-model="subscription.openHouse" aria-label="Checkbox")
                    div Open houses events
                div(layout="row" layout-align='start center')
                    md-checkbox(ng-model="subscription.newsLetter" aria-label="Checkbox")
                    div Our monthly e-newsletter
        div(layout-gt-sm='row' layout-sm="column" layout-align-gt-sm="start center")
            div.ml Get notifications:
            md-radio-group(layout='row' ng-model="emailNotifications")
                md-radio-button() Daily
                md-radio-button() Weekly
        div(class='ml mb+')
            button.btn.btn--s.btn--blue.btn--raised(lx-ripple='')
                i.fa.fa-save.fa-fw
                span.ml Save Subscription Settings
    div(ng-if='user && requestSubmited')
        md-progress-circular.md-accent(md-mode='indeterminate')
