div(layout='row' )
    sv-social-provider.mr(btn-name="fb" provider = 'facebook' icon = 'facebook' btn-class="blue bgc-blue-A200 tc-white-1 " icon-class="btn-social-login-icon-blue")
    sv-social-provider.mr(btn-name="g+" provider = 'google+' icon = 'google-plus' btn-class="red bgc-red-A200 tc-white-1 " icon-class="btn-social-login-icon-red")
