button.btn.btn--s.btn--raised.btn-social-login(lx-ripple ng-click='loginProvider(provider)' class='{{btnClass}}')
    span(class='{{iconClass}}')
        i.fa.fa-fw(class = 'fa-{{icon}}' )
    span(class="pr pl")
        | {{btnName}}
