.card(class='pb++')
    .bgc-grey-200(class='pl+ pr+ pt pb' layout-gt-sm='row' layout-sm="column" layout-align-gt-sm='space-between center' class='pt+ pb+ pl pr')
        .fs-title.mb.tc-grey-700
            i.mdi.mdi-airballoon &nbsp
            | {{headerTitle|translate}}
        sv-form-social-buttons
    div(class='pl pr' layout="row")
        div(flex="")
            form.mt(name='signUpForm' novalidate sv-form-val)
                md-input-container
                    label {{'name'|translate}}
                    input(type='text' name='userName'  ng-model='user.userName' sv-unique-username ng-minlength="3" ng-maxlength="200" required="error" )
                md-input-container
                    label {{'email'|translate}}
                    input(type='email' ng-model='user.email' name='email' required)
                md-input-container
                    label {{'password'|translate}}
                    input(type='password' ng-minlength="6" ng-maxlength="200" ng-model='user.password' name='password' required)
        div(flex="" class='pl+')
            .fs-title.mt
                span.tc-blue-600 Facebook
                span.ml or
                span.ml.tc-red-600 Google Plus
                span.ml will ask you for:
            .fs-subhead 1. Access to your basic account information
            p.p We only use your name and email address to create your account. We won’t use your list of friends unless you ask us to.
            .fs-subhead 2. Email
            p.p We will only send emails if you specifically sign up on our site.
            p.p We will never post anything to your wall or timeline unless you share it yourself.
    div(layout='row' layout-align='start center' )
        md-checkbox(ng-model='user.acceptPolicy' aria-label='terms')
        a.dispaly-block.fs-body-2(style='border-bottom: #393939 1px dotted; line-height:14px; cursor:pointer' ng-click="termsConditionsModal()") {{conditions|translate}}
    div.bgc-white-1(class='p+')
        div(layout='row' class="mb+")
            button.btn.btn--s.btn--raised.btn--white(lx-ripple ng-click='createSvetUser()' ng-disabled='!user.acceptPolicy')
                i.mdi.mdi-check &nbsp
                | {{register|translate}}
    div.text-center.mt.bgc-grey-100.pb.pt(layout="row" layout-align="center center")
        span.fs-subhead.tc-grey-700 Already have an account?
        a.btn.btn--s.btn--white.btn--raised.tc-red-600.m(lx-ripple='' ui-sref='app.login') Please Log In
