@import 'nib'

.sv-iframe-responsive-wrap
  iframe, object, embed {
    max-width 100%
  }

.sv-about-container {
  p {
    font-size 16px
    line-height 28px
    font-family Helvetica Neue, Helvetica, Arial, sans-serif
    margin-bottom 16px
  }
}
