
.home-backdrop
  width 100%
  height 800px
  //background: url("https://s3-us-west-2.amazonaws.com/remax1stclass/balloon-drawing-seamless.jpg") 0 0 repeat;
  background: url("https://s3-us-west-2.amazonaws.com/remax1stclass/houses-backdrop.jpg") no-repeat;
  background-size cover
  background-attachment fixed
  background-position center

//background #BBDEFB;

.main-nav-link
  color whitesmoke !important
  font-weight 500
  line-height 24px
  padding-top 4px
  padding-bottom 4px
  border-radius 0px !important

.nav-link-active
  background-color #2196F3 !important

//color #E3F2FD !important

.link-active-blue
  color #1976D2 !important

.link-active-red
  color #1976D2 !important
  border-bottom #F44336 2px solid !important

//color #E3F2FD !important

.ie
  position relative
  top 50px

.btn-block
  width 100%

.auth-sm
  margin-bottom -4px !important
  display block !important

.img-editor
  display inline-block
  width 56px
  height 56px

.img-editor-container
  width 56px
  height 56px

/**********************
 =ad
***********************/
.main-news-ad
  background: url("../img/ad/atru.jpg") 0 0 no-repeat;
  width 230px
  height 100px

/**********************
 =footer
***********************/
.text-footer
  display block
  font-size 13px
  line-height 16px




