div(ui-view="")
    sv-profile-title.ml(header-title='My Listings')
    .ml.mr.tc-grey-700.fs-subhead
        i.fa.fa-check.fa-fw.mr
        | {{brokerHomes.length || 'You do not have'}}
        | active listings
    md-divider.m
    div(layout='row' layout-wrap )
        div(flex-sm='100' flex-gt-sm='50' flex-gt-md='33' ng-repeat='home in brokerHomes track by $index')
            sv-profile-listing-thumb(home="home")

