div(class='sv-main-content' class="sv-main-content")
    div.card.mb.mt(layout='row' layout-align='space-around' ng-show='isBroker')
        a.btn.btn--m.btn--white.btn--flat.tc-grey-700.fw-500(ui-sref='app.user.listings' ui-sref-active="link-active-blue" ) Listings
        a.btn.btn--m.btn--white.btn--flat.tc-grey-700.fw-500(ui-sref='app.user.blogs' ui-sref-active="link-active-blue" ) Blog
        a.btn.btn--m.btn--white.btn--flat.tc-grey-700.fw-500(ui-sref='app.user.account-settings' ui-sref-active="link-active-blue" ) Account Settings
        a.btn.btn--m.btn--white.btn--flat.tc-grey-700.fw-500(ui-sref='app.brokers.broker.profile({id:brokerId})' ui-sref-active="link-active-blue" ) My Public Page
        sv-create-listing-btn.mr
        sv-create-article-btn.mr
    div(ui-view='')