div.listing-bookmark-wrapper
    button.btn.btn--xs.btn--white.btn--raised.tc-blue-500.m.listing-bookmark(lx-ripple='' ng-show='!bookmarked' style="font-size:10px" ng-click='addToBookmarks(home.mls)')
        i.fa.fa-star.fa-fw &nbsp
        | Bookmark
    button.btn.btn--xs.btn--white.btn--raised.tc-red-500.m.listing-bookmark(lx-ripple='' ng-show='bookmarked' style="font-size:10px" ng-click='removeFromBookmarks(home.mls)')
        i.fa.fa-star.fa-fw &nbsp
        | Remove Bookmark
