div(class='pl+ pr+ pb++')
    div(layout='row', layout-sm='column' layout-align-gt-sm='start center')
        md-input-container.md-input-container-article(flex-gt-sm="25")
            label Year Built
            input(ng-model='listing.publicFacts.yearBuilt' sv-url-decode name='yearBuilt' )
        md-input-container.md-input-container-article(flex-gt-sm="25")
            label Assessed Taxable Amount
            input(ng-model='listing.publicFacts.taxableAmount' sv-url-decode name='taxableAmount' )
        md-input-container.md-input-container-article(flex-gt-sm="25")
            label Tax Amount
            input(ng-model='listing.publicFacts.taxAmount' sv-url-decode name='taxAmount' )
    div(layout='row', layout-sm='column' layout-align-gt-sm='space-between center')
        md-input-container.md-input-container-article(flex-gt-sm="25")
            label Bathrooms
            input(ng-model='listing.publicFacts.bathrooms' sv-url-decode name='bathrooms' )
        md-input-container.md-input-container-article(flex-gt-sm="25")
            label Cooling System
            input(ng-model='listing.publicFacts.coolingSystem' sv-url-decode name='coolingSystem' )
        md-input-container.md-input-container-article(flex-gt-sm="25")
            label Fireplace
            input(ng-model='listing.publicFacts.fireplace' sv-url-decode name='fireplace' )
        md-input-container.md-input-container-article(flex-gt-sm="25")
            label Roof Type
            input(ng-model='listing.publicFacts.roofType' sv-url-decode name='roofType' )
    div(layout='row', layout-sm='column' layout-align-gt-sm='start center')
        md-input-container.md-input-container-article(flex-gt-sm="25")
            label Home Size (Sqft)
            input(ng-model='listing.publicFacts.homeSizeSqft' sv-url-decode name='homeSizeSqft' )
        md-input-container.md-input-container-article(flex-gt-sm="25")
            label Lot Size (Acres)
            input(ng-model='listing.publicFacts.lotSizeAcreshomeSizeSqft' sv-url-decode name='lotSizeAcres' )
        md-input-container.md-input-container-article(flex-gt-sm="25")
            label Lot Size (Sqft)
            input(ng-model='listing.publicFacts.lotSizeSqft' sv-url-decode name='lotSize' )
    div(layout='row', layout-sm='column' layout-align-gt-sm='space-between center')
        md-input-container.md-input-container-article(flex-gt-sm="25")
            label Parking
            input(ng-model='listing.publicFacts.parking' sv-url-decode name='parking' )
        md-input-container.md-input-container-article(flex-gt-sm="25")
            label Property Type
            input(ng-model='listing.publicFacts.propertyType' sv-url-decode name='propertyType' )
        md-input-container.md-input-container-article(flex-gt-sm="25")
            label Units
            input(ng-model='listing.publicFacts.units' sv-url-decode name='units' )
        md-input-container.md-input-container-article(flex-gt-sm="25")
            label Floors
            input(ng-model='listing.publicFacts.floors' sv-url-decode name='floors' )

