div(class='pl+ pr+ pb++')
    div(layout='row', layout-sm='column' layout-align-gt-sm='space-between center')
        md-input-container.md-input-container-article(flex-gt-sm="25")
            label Appliances
            input(ng-model='listing.interiorDetails.appliances' sv-url-decode name='appliances' )
        md-input-container.md-input-container-article(flex-gt-sm="25")
            label Dining Room
            input(ng-model='listing.interiorDetails.diningRoom' sv-url-decode name='diningRoom' )
        md-input-container.md-input-container-article(flex-gt-sm="25")
            label Dining Area
            input(ng-model='listing.interiorDetails.diningArea' sv-url-decode name='diningArea' )
        md-input-container.md-input-container-article(flex-gt-sm="25")
            label Family Room
            input(ng-model='listing.interiorDetails.familyRoom' sv-url-decode name='familyRoom' )
    div(layout='row', layout-sm='column' layout-align-gt-sm='space-between center')
        md-input-container.md-input-container-article(flex-gt-sm="25")
            label Bedroom 1(Master)
            input(ng-model='listing.interiorDetails.bedroom1' sv-url-decode name='bedroom1' )
        md-input-container.md-input-container-article(flex-gt-sm="25")
            label Bedroom 2
            input(ng-model='listing.interiorDetails.bedroom2' sv-url-decode name='bedroom2' )
        md-input-container.md-input-container-article(flex-gt-sm="25")
            label Bedroom 3
            input(ng-model='listing.interiorDetails.bedroom3' sv-url-decode name='bedroom3' )
        md-input-container.md-input-container-article(flex-gt-sm="25")
            label Bedroom 4
            input(ng-model='listing.interiorDetails.bedroom4' sv-url-decode name='bedroom4' )
    div(layout='row', layout-sm='column' layout-align-gt-sm='space-between center')
        md-input-container.md-input-container-article(flex-gt-sm="25")
            label Bedroom 5
            input(ng-model='listing.interiorDetails.bedroom5' sv-url-decode name='bedroom5' )
        md-input-container.md-input-container-article(flex-gt-sm="25")
            label Bedroom 6
            input(ng-model='listing.interiorDetails.bedroom6' sv-url-decode name='bedroom6' )
        md-input-container.md-input-container-article(flex-gt-sm="25")
            label Bedroom 7
            input(ng-model='listing.interiorDetails.bedroom7' sv-url-decode name='bedroom7' )
        md-input-container.md-input-container-article(flex-gt-sm="25")
            label Bedroom 8
            input(ng-model='listing.interiorDetails.bedroom8' sv-url-decode name='bedroom8' )
