div(class='pl+ pr+ pb++')
    md-input-container(flex='')
        label Property Description
        textarea(ng-model='listing.description'  sv-url-decode type="text" md-maxlength='550' name='description' required  rows="10")
