div
    ol
        li(ng-repeat='img in orderedImages|orderBy:order')
            div(layout='row' layout-align='space-around')
                span {{img.order}}
                div(style="width:200px")
                    img(ng-src='{{img.url}}').img-thumbnail
                div
                    button.btn.btn--red.btn--raised.btn--m(ng-click='removeOrderedImage(img)') Remove
                //div(layout='row' layout-align='space-around' flex='25')
                //    div
                //        button.btn.btn--blue.btn--raised.btn--s(ng-click='($index)') Down
                //    div
                //        button.btn.btn--blue.btn--raised.btn--s(ng-click='removeImage($index)' ng-disabled='$first') Up
                //    div
                //        button.btn.btn--blue.btn--raised.btn--s(ng-click='removeImage($index)' ng-disabled='$first') Top

