div(class='pl+ pr+ pb++')
    div(layout='row', layout-sm='column' layout-align-gt-sm='space-between center')
        md-input-container.md-input-container-article(flex-gt-sm="50")
            label Architecture
            input(ng-model='listing.exteriorDetails.architecture' sv-url-decode name='architecture' )
        md-input-container.md-input-container-article(flex-gt-sm="50")
            label Parking
            input(ng-model='listing.exteriorDetails.parking' sv-url-decode name='parking' )
    div(layout='row', layout-sm='column' layout-align-gt-sm='space-between center')
        md-input-container.md-input-container-article(flex-gt-sm="50")
            label Lot Size
            input(ng-model='listing.exteriorDetails.lotSize' sv-url-decode name='lotSize' )
        md-input-container.md-input-container-article(flex-gt-sm="50")
            label Property Size
            input(ng-model='listing.exteriorDetails.propertySize' sv-url-decode name='propertySize' )
