div(class='pl+ pr+')
    div(layout='row', layout-sm='column' layout-align-gt-sm='start center')
        md-input-container.md-input-container-article(flex-gt-sm="25")
            label Tax Amount
            input(ng-model='listing.taxes.taxAmount' sv-url-decode name='taxAmount' )
        md-input-container.md-input-container-article(flex-gt-sm="25")
            label Tax Year
            input(ng-model='listing.taxes.taxYear' sv-url-decode name='taxYear' )
