.card.m
    div.p.tc-blue-50(layout='row' layout-align='space-between start' style="background-color:#1976D2")
        div
            p.tc-blue-50(style="font-weight:bold") {{home.price|currency:'$':0}} &nbsp
            .fs-body-1.tc-blue-100(ng-show="home.shortSale" )
                i.fa.fa-bell.fa-fw &nbsp
                | Short Sale
        div.text-right
            p.tc-blue-50 {{home.type}}
            p.fs-body-1.tc-blue-100 MLS#: {{home.mls}}
    div.bgc-blue-100(layout='row' layout-align="space-between center" ng-show='!home.isRent')
        a.p.display-block.sv-link-visited-image.tc-grey-900(ui-sref='app.remax-listings.one-listing-sale({mls:home.mls})' style="text-decoration:none")
            p {{home.address.street}}
            p {{home.address.city}}, {{home.address.state}}, {{home.address.zip}}
        a.btn.btn--s.btn--white.btn--raised.m(style="padding:4px" lx-ripple='' href="{{fullAddress}}" target='_blank' booltip="See on Google Map")
            img.mdc-display-block(ng-src="{{googleMap}}" width="26" )
    div.bgc-grey-100(layout='row' layout-align="space-between center" ng-show='home.isRent')
        a.p.display-block.sv-link-visited-image.tc-grey-900(ui-sref='app.remax-listings.one-listing-rent({mls:home.mls})' style="text-decoration:none")
            p.fs-body-2 {{home.address.street}}
            p.fs-body-2 {{home.address.city}}, {{home.address.state}}, {{home.address.zip}}
        a.btn.btn--s.btn--white.btn--raised.m(style="padding:4px" lx-ripple='' href="{{fullAddress}}" target='_blank' booltip="See on Google Map")
            img.mdc-display-block(ng-src="{{googleMap}}" width="26" )
    .p(style="min-width:200px" ng-show='!home.isRent')
        a.display-block.text-center.sv-link-visited-image(ui-sref='app.remax-listings.one-listing-sale({mls:home.mls})' style="width=180px;margin:0px auto" )
            sv-img-background.sv-img-thumb(sv-image="home.images[0]" img-width="300" img-height="200" style="margin:0px auto")
    .p(style="min-width:200px" ng-show='home.isRent')
        a.display-block.text-center.sv-link-visited-image(ui-sref='app.remax-listings.one-listing-rent({mls:home.mls})' style="width=180px;margin:0px auto" )
            sv-img-background.sv-img-thumb(sv-image="home.images[0]" img-width="300" img-height="200" style="margin:0px auto")
    div.bgc-grey-50(layout='row' layout-align='space-between')
        div.m.tc-grey-600
            span
                i.fa.i.fa.fa-bed &nbsp
            span.fs-body-1(style="text-align:right") {{home.beds}} beds &nbsp
            span
                i.mdi.mdi-water &nbsp
            span.fs-body-1(style="text-align:right") {{home.bath}} baths
        div.m.mdc-text-right.tc-grey-600
            span.fs-body-1.mdc-text-right Year: {{home.year}}
    div.bgc-grey-100(layout='row' )
        div(flex="" style="text-align:right" ng-show='!home.isRent')
            button.btn.btn--xs.btn--white.btn--raised.tc-blue-600.m(lx-ripple='' ui-sref='app.remax-listings.one-listing-sale({mls:home.mls})' style="font-size:10px" )
                i.fa.fa-info.fa-fw &nbsp
                | More Info
        div(flex="" style="text-align:right" ng-show='home.isRent')
            button.btn.btn--xs.btn--white.btn--raised.tc-grey-700.m.bgc-grey-200(lx-ripple='' ui-sref='app.remax-listings.one-listing-rent({mls:home.mls})' style="font-size:10px")
                i.fa.fa-info.fa-fw &nbsp
                | More Info
        button.btn.btn--xs.btn--white.btn--raised.tc-blue-500.m.mdc-text-right(lx-ripple='' ng-show='!bookmarked' style="font-size:10px" ng-click='addToBookmarks(home.mls)')
            i.fa.fa-star.fa-fw &nbsp
            | Bookmark
        button.btn.btn--xs.btn--white.btn--raised.tc-red-500.m.mdc-text-right(lx-ripple='' ng-show='bookmarked' style="font-size:10px" ng-click='removeFromBookmarks(home.mls)')
            i.fa.fa-star.fa-fw &nbsp
            | Remove Bookmark
    div.bgc-grey-200
        sv-listing-broker

