.card
    div.bgc-blue-100(layout='row' layout-align="space-between center")
        div
            sv-bookmark(home='home' )
        div
            button.btn.btn--s.btn--white.btn--fab.tc-grey-600.m(lx-ripple='')
                i.fa.fa-facebook &nbsp
            button.btn.btn--s.btn--white.btn--fab.tc-grey-600.m(lx-ripple='')
                i.fa.fa-google-plus &nbsp
            button.btn.btn--s.btn--white.btn--fab.tc-grey-600.m(lx-ripple='')
                i.fa.fa-linkedin &nbsp
    div(layout-gt-sm='row' layout-sm="column")
        div(flex-gt-sm='60' flex-sm="100" flex-order-sm="1")
            .card.card-flex-slider.bgc-grey-50.m
                sv-img-background.sv-img-thumb(ng-if='!home.images' sv-image="defaultImage" img-width="200" img-height="200" style="margin:0px auto")
                flex-slider(slide='s in home.images', animation='slide' ng-if="home.images")
                    li()
                        img.img-flex-slider(ng-src='{{s}}' )
        div(flex-gt-sm='40' flex-sm="100" flex-order-sm="2")
            div.p
                div(layout='row' layout-align="start end")
                    div.pt.fs-display-1.tc-grey-700.mr {{home.price|currency:'$':0}}
                    div.fs-title.tc-red-600.mr(ng-if="home.shortSale" style="line-height:32px")
                        i.fa.fa-bell.fa-fw &nbsp
                        | Short Sale
                p.tc-grey-700 {{home.type}}
                div(layout='row')
                    span.mdc-display-inline-block
                        a.btn.btn--s.btn--white.btn--raised.mr.mt(style="padding:4px" lx-ripple='' href="{{fullAddress}}" target='_blank' booltip="See on Google Map")
                            img.mdc-display-block(ng-src="{{googleMap}}" width="26" )
                    div.pt.fs-title.tc-blue-grey-600
                        span {{home.address.street}}
                        span.display-block {{home.address.city}}, {{home.address.state}}, {{home.address.zip}}
                md-divider.mt.mb
                div.fs-subhead.tc-grey-700
                    p
                        span.fw-500.mr Beds: &nbsp
                        span {{home.beds}}
                    p
                        span.fw-500.mr Baths: &nbsp
                        span {{home.bath}}
                    p(ng-if="home.exteriorDetails['Home Size']")
                        span.fw-500.mr Lot Size:
                        span {{home.exteriorDetails['Home Size']}}
                    p(ng-if="home.exteriorDetails['Lot Size']")
                        span.fw-500.mr Lot Size:
                        span {{home.exteriorDetails['Lot Size']}}
                    p
                        span.fw-500.mr Year Built: &nbsp
                        span {{home.year}}
                    p
                        span.fw-500.mr MLS #: &nbsp
                        span {{home.mls}}
                md-divider.mt.mb
                div.bgc-grey-200(layout='row' layout-align="space-between center")
                    div.m(flex='')
                        sv-listing-broker(agent='home.agentObj' agent-font="fs-bo")
    div.pb.pt(ng-if='home.description')
        div.p.bgc-grey-200(layout='column' layiiiout-align="left ")
            .fs-headline Description
        div.p.fs-subhead(style="font-weight:500") {{home.description}}
        div(layout-gt-sm='row' layout-sm="column" hide-sm)
            div(flex='')
                p.p
                    span Beds: &nbsp
                    span {{home.beds}}
                p.p
                    span Baths: &nbsp
                    span {{home.bath}}
            div(flex='')
                p.p
                    span MLS #: &nbsp
                    span {{home.mls}}
                p.p
                    span Year Built: &nbsp
                    span {{home.year}}
    div(ng-if='home.listingDetails')
        div.bgc-grey-200(layout='column' layout-align="left ")
            div.m(flex='')
                .fs-headline Listing Details
        div.p.listing-details-divider(layout='row' ng-repeat='(key,value) in home.listingDetails')
            div(flex='0.3') {{key}} &nbsp
            div {{value}}
    div(ng-if='home.interiorDetails')
        div.bgc-grey-200(layout='column' layout-align="left ")
            div.m(flex='')
                .fs-headline Interior Details
        div.p.listing-details-divider(layout='row' ng-repeat='(key,value) in home.interiorDetails')
            div(flex='0.3') {{key}} &nbsp
            div {{value}}
    div(ng-if='home.exteriorDetails')
        div.bgc-grey-200(layout='column' layout-align="left ")
            div.m(flex='')
                .fs-headline Exterior Details
        div.p.listing-details-divider(layout='row' ng-repeat='(key,value) in home.exteriorDetails')
            div(flex='0.3') {{key}} &nbsp
            div {{value}}

    div(ng-if='home.utilities')
        div.bgc-grey-200(layout='column' layout-align="left ")
            div.m(flex='')
                .fs-headline Utilities
        div.p.listing-details-divider(layout='row' ng-repeat='(key,value) in home.utilities')
            div(flex='0.3') {{key}} &nbsp
            div {{value}}

    div(ng-if='home.taxes')
        div.bgc-grey-200(layout='column' layout-align="left ")
            div.m(flex='')
                .fs-headline Taxes
        div.p.listing-details-divider(layout='row' ng-repeat='(key,value) in home.taxes')
            div(flex='0.3') {{key}} &nbsp
            div {{value}}

    div(ng-if='home.publicFacts')
        div.bgc-grey-200(layout='column' layout-align="left ")
            div.m(flex='')
                .fs-headline Public Facts
        div.p.listing-details-divider(layout='row' ng-repeat='(key,value) in home.publicFacts')
            div(flex='0.3') {{key}} &nbsp
            div {{value}}
