span.tc-grey-700
    span.fw-500(ng-if='cnt')
        | {{cnt||0}} homes for {{isRent?'rent':'sale'}}
    span.fw-500(ng-if='!cnt')
        span.tc-blue-600 0
        span.ml listings for {{isRent?'rent':'sale'}}

