.card.fw-500(style="padding: 8px 16px;font-size:16px" layout="row")
    .fw-500.tc-blue-700(ng-if='cnt')
        i.fa.fa-bullhorn.fa-fw &nbsp
        | {{cnt||0}} homes for {{isRent?'rent':'sale'}}
    .tc-red-600.fw-500
        .fw-500(ng-if='cntNearBy||emptyNotice')
            i.fa.fa-flag.fa-fw &nbsp
            | {{cntNearBy||0}} listings for {{isRent?'rent':'sale'}} found nearby
        .fw-500(ng-if='emptyNotice')
            | {{emptyNotice}}
