div
    ul.list-unstyled
        li.mt.mb
            a.btn.btn--m.btn--grey.btn-flat.tc-grey-800.text-left(style="width:100%" lx-ripple='' href='/')
                i.mdi.mdi-home &nbsp
                | Home
        li.mt.mb
            a.btn.btn--m.btn--grey.btn-flat.tc-grey-800.text-left(style="width:100%" lx-ripple='' href='/sections/sport')
                i.mdi.mdi-bike &nbsp
                | Link 1
        li.mt.mb
            a.btn.btn--m.btn--grey.btn-flat.tc-grey-800.text-left(style="width:100%" lx-ripple='' href='/sections/food')
                i.mdi.mdi-food-apple &nbsp
                | Link 2
        li.mt.mb
            a.btn.btn--m.btn--grey.btn-flat.tc-grey-800.text-left(style="width:100%" lx-ripple='' href='/sections/travel')
                i.mdi.mdi-wallet-travel &nbsp
                | Link 3
