ul.list-unstyled.pt.pr
    li
        if vm !== undefined
            a.btn.btn--s.btn--red.btn--raised.bgc-red-300.m( style="width:100%" lx-ripple='' href='/about')
                i.fa.fa-info-circle.fa-fw &nbsp
                | About Us
    li
        a.btn.btn--s.btn--black.btn--raised.bgc-svet-700.m( style="width:100%" lx-ripple='' href='/testimonials')
            i.mdi.mdi-account-star.mdi-fw &nbsp
            | Testimonials
    li
        a.btn.btn--s.btn--black.btn--raised.bgc-svet-700.m( style="width:100%" lx-ripple='' href='/contact')
            i.fa.fa-map-marker.fa-fw &nbsp
            | Contact Us
