md-list(layout='row' style="margin: 0px")
    sv-search-header-nav-link
    sv-nav-link(hide-sm="" style="margin:0px 4px" url='app.brokers', stitle='brokers')
    sv-nav-link(hide-sm="" style="margin:0px 4px" url='app.customers', stitle='customers' ng-if="user.isManager()")
    sv-nav-link(hide-sm="" style="margin:0px 4px" url='app.about', stitle='about us')
    sv-nav-link(hide-sm="" style="margin:0px 4px" url='app.contact', stitle='contact us')

