div.row.bg-info
    div.col-sm-2
        a(href='/')
            img(alt='Company Logo' src='/img/logo/company-logo.png' style="width:46px;padding-top:8px").img-responsive
    div.col-sm-10.text-align-right
        ul.list-inline.navbar-header.pull-right(style="padding-top:8px")
            li
                a(target="blank" href="/terms") Terms of Use
            li
                a(target="blank" href="/privacy-policy") Privacy Policy
    div.col-sm-10.text-align-right
        ul.list-inline.navbar-header.pull-right
            li
                a.btn.btn--m.btn--flat.tc-blue-100.mt.btn--blue(lx-ripple='' target="_blank" href="https://www.facebook.com/ReMax-1st-Class-Realty-177448822432081") Facebook
            li
                a.btn.btn--m.btn--flat.tc-blue-100.mt.btn--blue(lx-ripple='' target="_blank" href="https://plus.google.com/+Remax1stclass") Google+
            li
                a.btn.btn--m.btn--flat.tc-blue-100.mt.btn--blue(lx-ripple='' target="_blank" href="https://www.youtube.com/channel/UCqlJzj01JS8U3ZUUAFjvxDg" ) Youtube
            li
                a.btn.btn--m.btn--flat.tc-blue-100.mt.btn--blue(lx-ripple='' target="_blank" href="https://www.linkedin.com/in/re-max-first-class-realty-57707377") Linkedin
    div.text-center
        p Re/Max 1st class 2015. All rights reserved.



