div(style='width:1000px;margin:auto;height:100%' )
    ul.list-inline.text-right
        li
            a(target="blank" href="/remax-listings/search" style='margin-top:5px;width:26px;height:26px;display:inline-block') Search
        li
            a(target="blank" href="/brokers" style='margin-top:5px;width:26px;height:26px;display:inline-block') Brokers
        li
            a(target="blank" href="/about/remax-1st-class" style='margin-top:5px;width:26px;height:26px;display:inline-block') About Us
        li
            a(target="blank" href="/contact" style='margin-top:5px;width:26px;height:26px;display:inline-block') Contact Us


