div.row.bg-primary(style="padding:8px")
    div.col-sm-2
        a(style="color:white" href='/')
            img(alt='Company Logo' src='/img/logo/company-logo.png' style="width:76px").img-responsive.thumbnail
    div.col-sm-10.text-align-right
        ul.list-inline.navbar-header.pull-right
            li
                a(style="color:white" href="/search") Search
            li
                a(style="color:white" href="/brokers") Brokers
            li
                a(style="color:white" href="/about" ) About Us
            li
                a(style="color:white" href="/contact" ) Contact Us




