div.row
    div.col-sm-2
        a(href='/').thumbnail
            img(alt='Company Logo' src='/img/logo/company-logo.png' style="width:76px").img-responsive
    div.col-sm-10.text-align-right
        ul.list-inline.navbar-header.pull-right
            li
                a(target="blank" href="/remax-listings/search") Search
            li
                a(target="blank" href="/brokers") Brokers
            li
                a(target="blank" href="/about/remax-1st-class" ) About Us
            li
                a(target="blank" href="/contact" ) Contact Us




