@import 'nib'
.listing-details-divider
  border-bottom: 1px #E0E0E0 dotted

.md-input-container-checkbox
  padding-bottom 0px !important

.flexslider
  background-color #EEEEEE
  border 0px
  -webkit-border-radius 0px
  -moz-border-radius 0px
  border-radius 0px

.card-flex-slider
  @media screen and (max-width: 780px) {
    max-height 350px !important
  }
  @media screen and (max-width: 450px) {
    max-height 260px !important
  }
  @media screen and (max-width: 350px) {
    max-height 220px !important
  }

.flex-control-nav
  @media screen and (max-width: 450px) {
    visibility hidden
  }

.img-flex-slider
  padding 8px 0px
  margin 0px auto
  width auto !important
  max-height 500px !important
  @media screen and (max-width: 780px) {
    max-height 350px !important
  }
  @media screen and (max-width: 600px) {
    max-height 400px !important
  }
  @media screen and (max-width: 450px) {
    max-height 260px !important
  }
  @media screen and (max-width: 350px) {
    max-height 220px !important
  }

md-select-menu
  md-content
    margin 0px

.i-map-wrapper-style
  margin-right 5px
  padding-top 5px
  width 100px
  height 80px
  overflow hidden
  position relative
  display inline-block

.i-map-style
  background-size cover
  width 100px
  heigh 80px
  background-position 50% 25%
  height 100%
  display block

.map-pointer-text-wrapper
  display inline-block
