mixin one-broker-listings(broker,avatar,phone,fax,dTitle)
    .row.thumbnail
        h3 Active Listings
        hr
        if (broker.listings)
            ul
                each home in broker.listings
                    li= home.mls

