

//.searchFormInline {
//  md-input-container > md-select
//    margin-top 21px !important
//}
.home-search-header
  font-weight 500
  @media screen and (max-width: 340px) {
    font-size 22px
  }
  @media screen and (min-width: 350px) {
    font-size 24px
  }
  @media screen and (min-width: 600px) {
    font-size 26px
  }
  @media screen and (min-width: 750px) {
    font-size 28px
  }
  @media screen and (min-width: 920px) {
    font-size 30px
  }
  @media screen and (min-width: 1200px) {
    font-size 40px
  }

.sv-sort {
  .md-select-value {
    border-bottom 0px !important
  }
}

.sv-dropdown {
  top: 125px !important
  @media screen and (max-width: 440px) {
    top: 105px !important
  }
  @media screen and (max-width: 340px) {
    top: 105px !important
  }
}

.sv-search-map
  height 100%

.md-select-value
  padding-bottom 8px !important

.searchFormInline
  md-select .md-select-value.md-select-placeholder
    color #424242 !important
  md-toolbar
    color #424242 !important

md-toolbar
  font-size 14px !important
  color #424242 !important

  @media screen and (max-width: 992px) {
    font-size 14px !important
    height 50px

  }

.sv-search-input {
  width 100%
  @media screen and (min-width: 335px) {
    min-width 200px
  }
  @media screen and (max-width: 330px) {
    min-width 170px
  }
}

.sv-search-button {
  text-align left
  width 100%
  @media screen and (min-width: 335px) {
    min-width 200px
  }
  @media screen and (max-width: 330px) {
    min-width 170px
  }
}
