
/*******************************
     app-corporate animation
********************************/

.app-corporate.ng-enter,
.app-corporate.ng-hide-add,
.app-corporate.ng-hide-remove,
.app-corporate.ng-leave
  transition(2s)

.app-corporate.ng-enter,
.app-corporate.ng-hide-remove,
.app-corporate.ng-hide-add.ng-hide-add-active,
.app-corporate.ng-leave.ng-leave-active
  opacity 0.1


.app-corporate.ng-enter.ng-enter-active,
.app-corporate.ng-hide-add,
.app-corporate.ng-hide-remove.ng-hide-remove-active,
.app-corporate.ng-leave
  opacity 1

