.card.bgc-grey-100.top-profile-nav(layout='row' layout-align="space-between center")
    a.btn.btn--m.btn--grey.tc-grey-700.btn--flat(ui-sref='app.manager.dashboard' lx-ripple='' ui-sref-active='link-active-red')
        i.mdi.mdi-view-dashboard &nbsp
        span(hide-sm) Dashboard
    a.btn.btn--m.btn--grey.tc-grey-700.btn--flat(ui-sref='app.manager.users' lx-ripple='' ui-sref-active='link-active-red')
        i.fa.fa-child &nbsp
        span(hide-sm) Users
    a.btn.btn--m.btn--grey.tc-grey-700.btn--flat(ui-sref='app.manager.ad' lx-ripple='' ui-sref-active='link-active-red')
        i.fa.fa-bullhorn &nbsp
        span(hide-sm) Ad

