div
    ul.list-inline(style="margin-top:8px")
        li
            a.btn.btn-primary(href="profile") About
        li
            a.btn.btn-primary(href="listings") Active Listings
        li
            a.btn.btn-primary(href="blogs") Blogs
        li
            a.btn.btn-primary(href="reviews") Reviews
        li
            a.btn.btn-primary(href="endorsements") Endorsements
