@import 'nib'

.main-nav-toolbar
  padding 0px
  border-radius 0px
  height 68px
  @media screen and (max-width: 599px) {
    min-height 54px !important
  }
 md-icon {
    fill whitesmoke
  }

.logo
  display block
  background: url("https://s3-us-west-2.amazonaws.com/remax1stclass/brokers/logos/company-logo.png") 0 0 no-repeat;
  position absolute
  background-position center
  background-color white
  top 0px
  left 0px
  width 76px
  height 76px
  background-size 58px 58px
  @media screen and (max-width: 599px) {
    left 40px
    width 54px
    height 54px
    background-size 40px 40px
  }

.logo-home
  transition all .5
  @media screen and (min-width: 650px) {
    left 8px !important
    top 8px !important
    width 60px !important
    height 60px !important
    background-size 54px 54px !important
  }
  @media screen and (min-width: 651px) {
    left 8px !important
    top 8px !important
    width 70px !important
    height 70px !important
    background-size 58px 58px !important
  }
  @media screen and (min-width: 900px) {
    left 8px !important
    top 8px !important
    width 76px !important
    height 76px !important
    background-size 58px 58px !important
  }

.logo-link
  height auto
  max-width 80px

.logo-img
  width 100%
  max-width 70px
  height auto

.logo-img-cell
  width 100%
  max-width 35px
  height auto

.head-ad
  &:hover
  &:active
  &:focus
    text-decoration none
    color #757575
  @media screen and (max-width: 992px)
    font-size 10px

.sv-cell-13
  @media screen and (max-width: 992px)
    font-size 13px !important

.sv-nav-link-responsive
  @media screen and (max-width: 350px) {
    font-size 11px
  }
  @media screen and (max-width: 1050px) {
    font-size 12px
  }

