@import 'nib'

.logo
  display block
  background: url("https://s3-us-west-2.amazonaws.com/remax1stclass/brokers/logos/company-logo.png") 0 0 no-repeat;
  position absolute
  width 76px
  height 76px
  background-size 60px 60px
  background-position center
  left 0px
  top 0px
  background-color white
  @media screen and (max-width: 350px) {
    width 50px
    height 50px
    background-size 40px 40px
  }
  @media screen and (min-width: 350px) {
    width 48px
    height 48px
    background-size 40px 40px
  }
  @media screen and (min-width: 500px) {
    width 60px
    height 60px
    background-size 54px 54px
  }
  @media screen and (min-width: 800px) {
    width 76px
    height 76px
    background-size 68px 68px
  }

.logo-home
  transition all .5
  @media screen and (max-width: 350px) {
    left 4px !important
    top 4px !important
    width 50px !important
    height 50px !important
    background-size 40px 40px !important
  }
  @media screen and (min-width: 350px) {
    left 8px !important
    top 8px !important
    width 48px !important
    height 48px !important
    background-size 40px 40px !important
  }
  @media screen and (min-width: 500px) {
    left 8px !important
    top 8px !important
    width 60px !important
    height 60px !important
    background-size 54px 54px !important
  }
  @media screen and (min-width: 800px) {
    left 16px !important
    top 8px !important
    width 96px !important
    height 96px !important
    background-size 80px 80px !important
  }

.logo-link
  height auto
  max-width 80px

.logo-img
  width 100%
  max-width 70px
  height auto

.logo-img-cell
  width 100%
  max-width 35px
  height auto

.head-ad
  &:hover
  &:active
  &:focus
    text-decoration none
    color #757575
  @media screen and (max-width: 992px)
    font-size 10px

.sv-cell-13
  @media screen and (max-width: 992px)
    font-size 13px !important

.sv-nav-link-responsive
  @media screen and (max-width: 350px) {
    font-size 11px
  }
  @media screen and (max-width: 1050px) {
    font-size 12px
  }

