@import 'nib'

.head-ad
  &:hover
  &:active
  &:focus
    text-decoration none
    color #757575
  @media screen and (max-width: 992px)
    font-size 10px

.sv-cell-13
  @media screen and (max-width: 992px)
    font-size 13px !important

.sv-nav-link-responsive
  @media screen and (max-width: 350px) {
    font-size 11px
  }
  @media screen and (max-width: 1050px) {
    font-size 12px
  }
