md-dialog()
    md-dialog-content.mdc-no-padding
        sv-review-form(evaluation='reviewModal')
        //md-toolbar.bgc-blue-A200.mb(layout='row' layout-align="space-between center" class='pl+ pr+')
        //    .fs-headline.tc-blue-50 Professional Information
        //    button.btn.btn--m.btn--white.btn--icon(lx-ripple='' ng-click="cancel()")
        //        i.fa.fa-close.fa-fw
        //div(layout='column' )
        //    div(class="ml+ mr+")
        //        lx-text-field(label="Languages")
        //            input.sv-input-1-row(type='text' aria-label='text', ng-model='brokerModal.languages')
        //    div(class="ml+ mr+")
        //        lx-text-field(label="Years of Experience")
        //            input.sv-input-1-row(type='text' aria-label='text', ng-model='brokerModal.yearsexperience')
        //    div(class="ml+ mr+")
        //        lx-text-field(label="Specialities")
        //            textarea.sv-input-1-row(type='text' aria-label='text', ng-model='brokerModal.specialities')
        //    div(class="ml+ mr+")
        //        lx-text-field(label="Areas Served")
        //            textarea.sv-input-1-row(type='text' aria-label='text', ng-model='brokerModal.areasserved')
        //div(class='ml+ mr+ mb++ mt+')
        //    button.btn.btn--s.btn--blue.btn--raised.mrg-5(lx-ripple='' ng-click="saveProfileModal()")
        //        i.fa.fa-save.fa-fw.mr
        //        | Save
        //    button.btn.btn--s.btn--white.btn--raised(lx-ripple='' ng-click="cancel()")
        //        i.fa.fa-close.fa-fw.mr
        //        | Cancel

