div
    a.btn.btn--s.btn--blue.btn--raised.bgc-blue-400(href='javascript:history.back()' style="font-weight:500")
        i.fa.fa-angle-left.fa-fw &nbsp
        | Back {{customBtnText}}
    //a.btn.btn--s.btn--grey.btn--flat.tc-grey-600(ui-sref='^' ng-if='goUp')
    //    i.fa.fa-angle-left.fa-fw &nbsp
    //    | {{'back'|translate}}