a.btn.btn--xs.btn--grey.btn--raised.fw-500( lx-ripple="" href='javascript:history.back()' )
    i.fa.fa-angle-left.fa-fw &nbsp
    | Back {{customBtnText}}
//a.btn.btn--s.btn--grey.btn--flat.tc-grey-600(ui-sref='^' ng-if='goUp')
//    i.fa.fa-angle-left.fa-fw &nbsp
//    | {{'back'|translate}}