div
    a.btn.btn--l.btn--flat.btn--white.sv-nav-link-responsive(lx-ripple='' ui-sref-active="nav-link-active" class="main-nav-link" ui-sref='{{url}}' hide-sm="")
        i(class='{{iconType}} {{icon}} fa-fw')
        span {{stitle}}
    a.btn.btn--m.btn--red.btn--fab(lx-ripple='' ui-sref-active="nav-link-active" ui-sref='{{url}}' hide-gt-sm="")
        i(class='{{iconType}} {{icon}}')
