div(layout='row' layout-align='start center')
    a.btn.btn--m.btn--flat.tc-blue-100.mt.btn--blue(lx-ripple='' target="_blank" href="https://www.facebook.com/ReMax-1st-Class-Realty-177448822432081")
        i.fa.fa-facebook.fa-lg
    a.btn.btn--m.btn--flat.tc-blue-100.mt.btn--blue(lx-ripple='' target="_blank" href="https://plus.google.com/+Remax1stclass")
        i.fa.fa-google-plus.fa-lg
    a.btn.btn--m.btn--flat.tc-blue-100.mt.btn--blue(lx-ripple='' target="_blank" href="https://www.youtube.com/channel/UCqlJzj01JS8U3ZUUAFjvxDg" )
        i.fa.fa-youtube.fa-lg
    a.btn.btn--m.btn--flat.tc-blue-100.mt.btn--blue(lx-ripple='' target="_blank" href="https://www.linkedin.com/in/re-max-first-class-realty-57707377")
        i.fa.fa-linkedin.fa-lg