div(flow-init)
    sv-profile-title.ml(header-title='New Article' ng-if='artType==="article"' )
    sv-profile-title.ml(header-title='New article' ng-if='artType==="blog"')
    .card(class='m')
        sv-new-article-form
    div(class='mb+ ml')
        sv-link-back(l-title="back-to-my-articles" url="app.user.news.articles" ng-show='artType==="article"')
        sv-link-back(l-title="back-to-my-blogs" url="app.user.news.blogs" ng-show='artType==="blog"')
