md-dialog()
    md-dialog-content.mdc-no-padding.sv-modal-3-rows
        md-toolbar.bgc-blue-A200.mb(layout='row'  layout-align="space-between center" class='pl+ pr+')
            .fs-headline.tc-blue-50 Contact Information
            button.btn.btn--m.btn--white.btn--icon(lx-ripple='' ng-click="cancelModal()")
                i.fa.fa-close.fa-fw
        div.fs-subhead(layout-gt-sm='row' layout-sm='column'  )
            div(class='ml+ mr+ mb' flex="")
                lx-text-field(label='First name', fixed-label='true', theme='light')
                    input(type='text' aria-label='text', ng-model='brokerModal.fName')
            div(class='ml+ mr+ mb' flex="")
                lx-text-field(label='Last name', fixed-label='true', theme='light')
                    input(type='text' aria-label='text', ng-model='brokerModal.lName')
        div(layout-gt-sm='row' layout-sm='column'  )
            div(class='ml+ mr+ mb' flex="")
                lx-text-field(label='Broker Title' theme='light')
                    input(type='text' aria-label='text', ng-model='brokerModal.title')
            div(class='ml+ mr+ mb' flex="")
                lx-text-field(label='Broker Title' theme='light')
                    input(type='text' aria-label='text', ng-model='brokerModal.title2')
        div(layout-gt-sm='row' layout-sm='column'  )
            div(class='ml+ mr+ mb' flex="")
                lx-text-field(label='Website' theme='light')
                    input(type='text' aria-label='text', ng-model='brokerModal.website')
            div(class='ml+ mr+ mb' flex="")
                lx-text-field(label='Email' theme='light')
                    input(type='text' aria-label='text', ng-model='brokerModal.email')
        div(layout-gt-sm='row' layout-sm='column'  )
            div(class='ml+ mr+ mb' flex="")
                lx-text-field(label='Facebook' theme='light')
                    input(type='text' aria-label='text', ng-model='brokerModal.facebook')
            div(class='ml+ mr+ mb' flex="")
                lx-text-field(label='Linkedin' theme='light')
                    input(type='text' aria-label='text', ng-model='brokerModal.linkedin')
        div(layout-gt-sm='row' layout-sm='column'  )
            div(class='ml+ mr+ mb' flex="")
                lx-text-field(label='Youtube' theme='light')
                    input(type='text' aria-label='text', ng-model='brokerModal.youtube')
            div(class='ml+ mr+ mb' flex="")
                lx-text-field(label='Twitter' theme='light')
                    input(type='text' aria-label='text', ng-model='brokerModal.twitter')
        div(layout-gt-sm='row' layout-sm='column'  )
            div(class='ml+ mr+ mb' flex="")
                lx-text-field(label='Zillow Review Link' theme='light')
                    input(type='text' aria-label='text', ng-model='brokerModal.zillowReview')
            div(class='ml+ mr+ mb' flex="")
                lx-text-field(label='Trulia Review Link' theme='light')
                    input(type='text' aria-label='text', ng-model='brokerModal.truliaReview')
        div(layout-gt-sm='row' layout-sm='column'  )
            div(class='ml+ mr+ mb' flex="")
                lx-text-field(label='Github' theme='light')
                    input(type='text' aria-label='text', ng-model='brokerModal.github')
            div(class='ml+ mr+ mb' flex="")
                lx-text-field(label='StackOwerflow' theme='light')
                    input(type='text' aria-label='text', ng-model='brokerModal.stackoverflow')
        div(layout-gt-sm='row' layout-sm='column'  )
            div(class='ml+ mr+' flex="")
                lx-text-field(label="Direct")
                    input(type='text' aria-label='text', ng-model='brokerModal.phoneDirect' ui-mask="(999) 999-9999")
            div(class='ml+ mr+' flex="")
                lx-text-field(label="Cell")
                    input(type='text' aria-label='text', ng-model='brokerModal.phoneCell' ui-mask="(999) 999-9999")
        div(layout-gt-sm='row' layout-sm='column'  )
            div(class='ml+ mr+ mb' flex="")
                lx-text-field(label='Recent Sales' theme='light')
                    input(type='text' aria-label='text', ng-model='brokerModal.recentsales')
        div(layout-gt-sm='row' layout-sm='column'  )
            div(class='ml+ mr+ mb' flex="")
                lx-text-field(label='Moto' theme='light')
                    textarea(type='text' aria-label='text', ng-model='brokerModal.moto')
        div(class='ml+ mr+ mb++ mt+')
            button.btn.btn--s.btn--blue.btn--raised.mrg-5(lx-ripple='' ng-click="saveProfileModal(brokerModal)")
                i.fa.fa-save.fa-fw.mr
                | Save
            button.btn.btn--s.btn--white.btn--raised(lx-ripple='' ng-click="cancelModal()")
                i.fa.fa-close.fa-fw.mr
                | Cancel

