md-dialog()
    md-dialog-content.mdc-no-padding
        md-toolbar.bgc-blue-A200(layout='row' layout-align="space-between center" class='pl+ pr+')
            .fs-headline.tc-blue-50 Profile Image
            button.btn.btn--m.btn--white.btn--icon(lx-ripple='' ng-click="cancel()")
                i.fa.fa-close.fa-fw
        div(class='m+')
            sv-s3-upload
