div(layout-gt-md='row' layout-sm="column")
    div(flex-gt-sm='80' flex-sm="100")
        div(layout='row' layout-align="start center ")
            sv-link-back(class='m+')
            sv-fb-share.mr
            sv-fb-like
        sv-broker-dashboard-tabs
    div(flex-gt-sm='20' flex-sm="100")

